@model Vehicles.API.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/DetailStyle.css" />
<br />
<br />

<div class="container_two">


    <div>
        <h4 class="panel-title2">Usuario</h4>
     
        <div class="row">
            <div class="col-md-8 info">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DocumentType.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DocumentType.Description)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Document)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Document)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 foto">
                <img src="@Model.ImageFullPath" id="imguser" />
            </div>
            <br />
            
            <div class="botones">

                <a id="btn1" asp-action="AddVehicle" asp-route-id="@Model.Id" class="btn btn-link"><span>Adicionar Vehículo</span><span><i class="fas fa-plus"></i></span></a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link"><span>Editar Usuario</span><span><i class="fas fa-edit"></i></span></a>
                <a id="btn2" asp-action="Index" class="btn btn-link"><span>Regresar</span><span><i class="fas fa-undo-alt"></i></span></a>
            </div>
        </div>
    </div>
    <br />
    
    <br />
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vehículos</h3>
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                            <option>Filtro</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        <label for="one"><input type="checkbox" id="one" checked /> @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Plaque)</label>
                        <label for="two"><input type="checkbox" id="two" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleType.Description)</label>
                        <label for="three"><input type="checkbox" id="three" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Brand.Description) </label>
                        <label for="four"><input type="checkbox" id="four" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Line) </label>
                        <label for="five"><input type="checkbox" id="five" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Model) </label>
                        <label for="six"><input type="checkbox" id="six" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().HistoriesCount) </label>
                        <label for="seven"><input type="checkbox" id="seven" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehiclePhotosCount)</label>
                        <label for="eight"><input type="checkbox" id="eight" checked />@Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().ImageFullPath)</label>
                       
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                <script>
                    var expanded = false;
                    function showCheckboxes() {
                        var checkboxes = document.getElementById("checkboxes");
                        if (!expanded) {
                            checkboxes.style.display = "block";
                            expanded = true;
                        } else {
                            checkboxes.style.display = "none";
                            expanded = false;
                        }
                    }



                    $("#one").on("click", function () {

                        $("th:nth-child(1)").toggle();
                        $('td:nth-child(1)').toggle();

                    });

                    $("#two").on("click", function () {

                        $("th:nth-child(2)").toggle();
                        $('td:nth-child(2)').toggle();

                    });

                    $("#three").on("click", function () {

                        $("th:nth-child(3)").toggle();
                        $('td:nth-child(3)').toggle();

                    });

                    $("#four").on("click", function () {

                        $("th:nth-child(4)").toggle();
                        $('td:nth-child(4)').toggle();

                    });

                    $("#five").on("click", function () {

                        $("th:nth-child(5)").toggle();
                        $('td:nth-child(5)').toggle();

                    });

                    $("#six").on("click", function () {

                        $("th:nth-child(6)").toggle();
                        $('td:nth-child(6)').toggle();

                    });
                    $("#seven").on("click", function () {

                        $("th:nth-child(7)").toggle();
                        $('td:nth-child(7)').toggle();

                    });
                    $("#eight").on("click", function () {

                        $("th:nth-child(8)").toggle();
                        $('td:nth-child(8)').toggle();

                    });
                </script>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Plaque)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleType.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Brand.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Line)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().HistoriesCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehiclePhotosCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().ImageFullPath)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Vehicles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plaque)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleType.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Line)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HistoriesCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehiclePhotosCount)
                                </td>
                                <td>
                                    <img src="@item.ImageFullPath"  />
                                </td>
                                <td>



                                    <a asp-action="EditVehicle" asp-route-id="@item.Id" class="btn btn-warning"><span>Editar</span><span><i class="fas fa-edit"></i></span></a>
                                    <a asp-action="DetailsVehicle" asp-route-id="@item.Id" class="btn btn-dark"><span>Historias</span><span><i class="fas fa-history"></i></span></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><span>Borrar</span><span><i class="fas fa-trash"></i></span></button>
                                    <a asp-action="EditVehiclePhoto" asp-route-id="@item.Id" class="btn btn-warning"><span>Fotos</span><span><i class="fas fa-camera"></i></span></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Users/DeleteVehicle/', false);
        });
    </script>
}