@model IEnumerable<Vehicles.API.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="~/css/UserStyle.css" />
<br />
<br />
<div class="contenedor_table">
    <p class="menu_1">
        <a asp-action="Create" class=" btn btn-primary  "><span>Nuevo</span> <span> <i class="fas fa-plus" aria-hidden="true"> </i> </span> </a>

    </p>

    






    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuarios</h3>

                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select>
                                <option>Filtro</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                            <label for="one"><input type="checkbox" id="one" checked /> @Html.DisplayNameFor(model => model.FullName)</label>
                            <label for="two"><input type="checkbox" id="two" checked /> @Html.DisplayNameFor(model => model.DocumentType.Description)</label>
                            <label for="three"><input type="checkbox" id="three" checked /> @Html.DisplayNameFor(model => model.Document)</label>
                            <label for="four"><input type="checkbox" id="four" checked /> @Html.DisplayNameFor(model => model.Email)</label>
                            <label for="five"><input type="checkbox" id="five" checked /> @Html.DisplayNameFor(model => model.PhoneNumber)</label>
                            <label for="six"><input type="checkbox" id="six" checked /> @Html.DisplayNameFor(model => model.VehiclesCount)</label>
                            <label for="seven"><input type="checkbox" id="seven" checked /> @Html.DisplayNameFor(model => model.ImageFullPath)</label>
                            <label for="eih"><input type="checkbox" id="eih" checked /> @Html.DisplayNameFor(model => model.CountryCode)</label>
                        </div>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                    <script>
                        var expanded = false;
                        function showCheckboxes() {
                            var checkboxes = document.getElementById("checkboxes");
                            if (!expanded) {
                                checkboxes.style.display = "block";
                                expanded = true;
                            } else {
                                checkboxes.style.display = "none";
                                expanded = false;
                            }
                        }



                        $("#one").on("click", function () {

                            $("#thone").toggle();
                            $('td:nth-child(1)').toggle();

                        });

                        $("#two").on("click", function () {

                            $("#thtwo").toggle();
                            $('td:nth-child(2)').toggle();

                        });

                        $("#three").on("click", function () {

                            $("#ththree").toggle();
                            $('td:nth-child(3)').toggle();

                        });

                        $("#four").on("click", function () {

                            $("#thfour").toggle();
                            $('td:nth-child(4)').toggle();

                        });

                        $("#five").on("click", function () {

                            $("#thfive").toggle();
                            $('td:nth-child(5)').toggle();

                        });

                        $("#six").on("click", function () {

                            $("#thsix").toggle();
                            $('td:nth-child(6)').toggle();

                        });
                        $("#seven").on("click", function () {

                            $("#thseven").toggle();
                            $('td:nth-child(7)').toggle();

                        });
                        $("#eih").on("click", function () {

                            $("#theigt").toggle();
                            $('td:nth-child(8)').toggle();

                        });


                    </script>
                </div>
                <div class="panel-body ">
                    <table class="table table-hover table-responsive-xl table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th id="thone">
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th id="thtwo">
                                    @Html.DisplayNameFor(model => model.DocumentType.Description)
                                </th>
                                <th id="ththree">
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th id="thfour">
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th id="thfive">
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>

                                <th id="thsix">
                                    @Html.DisplayNameFor(model => model.VehiclesCount)
                                </th>
                                <th id="thseven">
                                    @Html.DisplayNameFor(model => model.ImageFullPath)
                                </th>
                                <th id="theigt">
                                    @Html.DisplayNameFor(model => model.CountryCode)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentType.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehiclesCount)
                                </td>
                                <td>
                                    <img src="@item.ImageFullPath" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CountryCode)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span>Editar</span><span><i class="fas fa-edit"></i></span></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark"><span>Vehiculos</span><span><i class="fas fa-car"></i></span></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><span>Borrar</span><span><i class="fas fa-trash"></i></span></button>




                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Users/Delete/', false);
        });
    </script>
}
